* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: rgb(199, 196, 196);

  color:black;
  background-color: #4CAF50;
}

.navicon{
   display: flex;
   justify-items: center;
   color: black;
}

.navicon .nav-link:hover{
   text-decoration: underline;
  text-decoration-color: blue;

}
.quiz_nav{
  position: fixed;
  margin-top: 0px;
  margin-left: 83rem;

}

@media (min-width: 200px) and (max-width: 767px) {
  .quiz_nav {
     position: fixed;
     margin-left: 10rem;
     z-index: 1000;

  }
}




@media (min-width: 500px) and (max-width: 1600px) {
 .quizcontent {
    width: 300px;
    text-align: center;

  }
}
@media (min-width: 200px) and (max-width: 500px) {
 .quizcontent {
    
    text-align: center;

  }
}


.quiz-container {
  padding: 20px;
  background:green;
  color:white;
  white-space: pre-line;
  
}

.quiz-container h1{
  color: #F44336;
}

.question-block {
  margin-bottom: 30px;
  margin-top: 150px;
  white-space: pre-line;
}

.option-list {
  list-style: none;
  padding: 0;
}

/* .option-item {
  color: black;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f0f0f0;
} */

/* .option-item.selected {
  background-color: #90CAF9;
} */

.option-item.correct {
  background-color: #4CAF50;
}

.option-item.incorrect {
  background-color: #F44336;
  color: black;
  cursor: default;
}

.result-block {
  margin-top: 5px;
}

.score-summary {
  margin-top: 20px;
}
 










