* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: rgb(199, 196, 196);

  color:black;
}

.navicon{
   display: flex;
   justify-items: center;
   color: black;
}

.navicon .nav-link:hover{
   text-decoration: underline;
  text-decoration-color: blue;

}
.quiz_nav{
  position: fixed;
  margin-top: 0px;
  margin-left: 83rem;

}

@media (min-width: 200px) and (max-width: 767px) {
  .quiz_nav {
     position: fixed;
     margin-left: 10rem;
     z-index: 1000;

  }
}
 










